body {
  font-size: 16px;
  color: #fff;
  background-color: #9966ff;
  font-family: arial;
}

/** HEADER **/
#header-nav {
  background-color: #00bfff;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
  margin-bottom: 20px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: arial, serif;
  color: #0000cd;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
/*.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#collapsable-nav {
	 
}*/

#nav-list a {
  color: #0000cd;
 
}
#nav-list a:hover {
  background: #E7E7E7;
}


.navbar-header button.navbar-toggle {
  border: 1px solid #0000cd;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#collapsable-nav {
	clear: both;
	margin-top: -30px;
	font-size: 1.2em;
	text-align: center;
}
/* END HEADER */

/* MAIN CONTENT */

h2 {
	color: black;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 10px;
	margin-bottom: 15px;
}

 .content {
  border: 1px solid black;
  color: black;
  background-color: #d3d3d3;
  position: relative;
  margin: auto;
  padding: 15px;

 }

 /*** Extra small devises only*/
 @media (max-width: 767px) {
 	#collapsable-nav {
	background-color: #87ceeb;
}
 }

